<div class="btn-group btn-group-justified btn-group-lg">
    <div class="btn-group btn-group-lg" ng-repeat="x in range(settings.players) track by $index">
        <button type="button"
                class="btn btn-default"
                ng-class="{active: settings.currentPlayer == $index}"
                ng-click="start($index)">
            {{ settings.names[$index] || "Player " + ($index + 1) }}
        </button>
    </div>
</div>

<div fittext="0.5" class="remainingTime" ng-click="silence()">{{ remainingTime }}</div>

<div class="btn-group btn-group-justified btn-group-lg">
    <div class="btn-group btn-group-lg">
        <button class="btn btn-default" ng-click="next()">Next</button>
    </div>
    <div class="btn-group btn-group-lg">
        <button class="btn btn-default" ng-click="stop()">Stop</button>
    </div>
</div>
